<h1>StaticPages#home</h1>
<%= render 'posts/post' %>
<h2>Here is your feed</h2>
<% @posts.each do |post| %>
  <% if post.user == current_user %>
    <h3><strong>Me - <%=post.user.name%></strong></h3>
  <% else %>
    <h3><%=post.user.name%></h3>
  <% end %>
  <p><%=post.content%></p>
  <p><%=post.created_at%></p>
<% end %>
